# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
venv/
.env

# Django
backend/staticfiles/
backend/media/
*.sqlite3

# Node
node_modules/
.next/
out/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
